/*------------------------------------*\
  # BLOQUE CONTACTO
\*------------------------------------*/

.main__text {
  text-align: center;
  margin-top: 1rem;
}

.emoji {
  font-size: 1.2rem;
}

.main__required {
  text-align: right;
  padding-top: 1rem;
  font-size: 0.9rem;
  @include for-phone {
    padding: 1rem;
    text-align: center;
  }
  .main__abbr {
    text-decoration: none;
  }
}

.form {
  border-radius: 5px;
  background-color: $color-white;
  @include for-phone {
    padding: 1rem;
  }
}

.button {
  display: block;
  width: 200px;
  float: right;
  @include for-tablet-down {
    width: 100%;
  }
}
