* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // margin: 0;
  // padding: 30px;
  // font-family: $font-family-sans-serif;
  // background-color: $uoc-bg;
  // color: $uoc-corporate;
  font-family: $font-family-poppins;
}

// .uoc-logo {
//   display: block;
//   margin-bottom: 20px;
//   width: 300px;
//   height: auto;
// }

// .uoc-title {
//   font-family: $font-family-alfa-slab-one;
//   font-size: 36px;
//   font-weight: 700;
//   color: $uoc-corporate;
// }

/*------------------------------------*\
  # BLOQUE CONTACTO
\*------------------------------------*/

.main__required {
  text-align: right;
  padding-top: 1rem;

  .main__abbr {
    text-decoration: none;
  }
}

.form {
  // border: 2px solid #ddd;
  border-radius: 5px;
  // padding: 2rem;
  background-color: #ffffff;
  @include for-phone {
    padding: 1rem;
  }
}

.button {
  display: block;
  width: 200px;
  float: right;
  @include for-tablet-down {
    width: 100%;
  }
}

/*------------------------------------*\
  # BLOQUE MIEMBROS
\*------------------------------------*/
.header {
  padding: 1rem 0 1rem 0;
  border-bottom: 3px solid #ddd;
}

.navbar-brand {
  font-family: $font-family-alfa-slab-one;
}

.footer {
  border-top: 3px solid #ddd;
  padding: 1rem 0;
}

.main {
  min-height: 80vh;
  padding: 2rem 0 4rem 0;

  .main__title {
    text-align: center;
    margin: 2rem 0;
  }
  .main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .card {
      border: none;
      flex-basis: 350px;
      margin: 1.5rem 1rem;
      text-align: center;

      .card-img-top {
        height: 240px;
        object-fit: cover;
      }

      .card-title {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
      }

      .card-subtitle {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }
    }

    @include for-tablet-down {
      padding: 1rem;
    }
  }
}

.main--pt-0 {
  padding-top: 0;
}

/*------------------------------------*\
  # BLOQUE BLOG
\*------------------------------------*/

// .main {
.article {
  .article__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: red;
    height: 69vh;
    background-image: url("../images/portada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .article__title,
    .article__author {
      color: white;
      padding: 10px;
      background-color: black;
    }

    .article__author {
      margin-top: 5rem;
    }
  }

  .article__section {
    // padding: 0 25%;
    margin: 2rem 0;

    .article__subtitle,
    .article__text {
      margin: 2rem 0;
    }

    .article__text,
    .article__subtitle,
    .article__main {
      padding: 0 25%;
    }

    .article__blockquote {
      margin: 2rem 0;
      padding: 0 22%;
    }

    .article__list {
      margin: 1rem 25%;
      padding: 2rem 0;
      border-bottom: 1px solid #ddd;
      border-top: 2px solid #ddd;
      list-style-type: none;

      .article__item {
        margin-bottom: 2rem;
        position: relative;
        .article__item-name {
          padding: 0.3rem 4rem;
          font-size: 1.2rem;

          &.article__item--one {
            &:before {
              content: "1";
              position: absolute;
              top: 0;
              left: 0;
              padding: 5px 14px;
              border: 2px solid #ddd;
              border-radius: 100%;
            }
          }

          &.article__item--two {
            &:before {
              content: "2";
              position: absolute;
              top: 0;
              left: 0;
              padding: 5px 12px;
              border: 2px solid #ddd;
              border-radius: 100%;
            }
          }

          &.article__item--three {
            &:before {
              content: "3";
              position: absolute;
              left: 0;
              top: 0;
              padding: 5px 12px;
              border: 2px solid #ddd;
              border-radius: 100%;
            }
          }
        }
        .article__item-description {
          padding: 0 4rem;
        }
      }
    }

    .article__image {
      padding: 0 10%;
      .article__img {
        display: block;
        height: auto;
        max-height: 550px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        object-fit: cover;
        object-position: center;
        border-radius: 3px;
      }
    }

    .article__main {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0 3rem 0;
      justify-content: space-between;
      @include for-desktop-down {
        justify-content: center;
      }
      .article__main-subtitle {
        padding: 0;
        flex-basis: 25%;

        @include for-desktop-down {
          flex-basis: 100%;
        }
      }

      .article__main-text {
        padding: 0;
        flex-basis: 60%;
        @include for-desktop-down {
          flex-basis: 100%;
        }
      }
    }
  }
}

.navbread {
  &.navbread--padding-25 {
    padding: 0 25%;
  }

  &.navbread--margin-left {
    margin-left: 5rem;
  }
}

.breadcrumb-link {
  text-decoration: none;
}

// }
